@use 'sass:color';

// Colors
$background-color: #f0f2f5;
$text-color: #333;
$primary-color:rgb(44, 107, 170);
$accent-color:rgb(255, 255, 255);
$board-color: #3498db;
$cell-color: #ecf0f1;
$ship-color: #95a5a6;
$hit-color: #e74c3c;
$miss-color: #3498db;
